node_modules
.idea
build/*
includes/cf-pro-api-client/node_modules
ui/blocks/cform/node_modules
npm-debug.log
**/.DS_Store
includes/freemius/assets/img/caldera-forms.png
bin/caldera-forms

wordpress/*
wp-content/*
cypress/screenshots/*
cypress/videos/*


wordpress
wp-content
cypress/screenshots
cypress/videos
build
vendor

wp-test-case

#https://getcomposer.org/doc/faqs/should-i-commit-the-dependencies-in-my-vendor-directory.md
/vendor/**/.git

!assets/build/

# Avoid committing webpack dev client assets
dist/*
dist/caldera-hot-load/*
!dist/caldera-hot-load/.gitkeep
!dist/README.md
!dist/react.min.js
!dist/react-dom.min.js

clients/build