node_modules
.idea
build/*
includes/cf-pro-api-client/node_modules
ui/blocks/cform/node_modules
npm-debug.log
**/.DS_Store
includes/freemius/assets/img/caldera-forms.png
bin/caldera-forms

wordpress/*
wp-content/*
cypress/screenshots/*
cypress/videos/*