<?xml version="1.0"?>
<ruleset name="CalderaForms">
    <description>Caldera-style, slowly moving towards PSR</description>
    <!-- Tabs no spaces -->
    <arg name="tab-width" value="4"/>
    <rule ref="Generic.WhiteSpace.ScopeIndent">
        <properties>
            <property name="indent" value="4"/>
            <property name="tabIndent" value="true"/>
        </properties>
    </rule>

    <!-- The soft limit on line length MUST be 240 characters; automated style checkers MUST warn but MUST NOT error at the soft limit. -->
    <rule ref="Generic.Files.LineLength">
        <properties>
            <property name="lineLimit" value="240"/>
            <property name="absoluteLineLimit" value="0"/>
        </properties>
    </rule>

    <!--Allow non-camelCasing -->
    <rule ref="Squiz">
        <exclude name="Generic.NamingConventions.CamelCapsFunctionName"/>
    </rule>

    <!-- Spaces before and after control structures -->
    <rule ref="PSR2.ControlStructures.ControlStructureSpacing">
        <properties>
            <property name="requiredSpacesAfterOpen" value="1" />
            <property name="requiredSpacesBeforeClose" value="1" />
        </properties>
    </rule>
    <rule ref="PSR2.ControlStructures.SwitchDeclaration">
        <properties>
            <property name="indent" value="4" />
            <property name="tabIndent" value="true"/>
        </properties>
    </rule>

    <!-- function declaration spacing -->
    <rule ref="Squiz.Functions.FunctionDeclarationArgumentSpacing">
        <properties>
            <property name="equalsSpacing" value="1" />
        </properties>
    </rule>

    <!-- spaces on concatenated strings -->
    <rule ref="Squiz.Strings.ConcatenationSpacing">
        <properties>
            <property name="spacing" value="1" />
        </properties>
    </rule>

    <!-- Ensure 1 blank line before and after functions. -->
    <rule ref="Squiz.WhiteSpace.FunctionSpacing">
        <properties>
            <property name="spacing" value="1" />
        </properties>
    </rule>


</ruleset>