/*
Version: 3.5.2 Timestamp: Sat Nov  1 14:43:36 EDT 2014
*/
.ccselect2-container {
    margin: 0;
    position: relative;
    display: inline-block;
    /* inline-block for ie7 */
    zoom: 1;
    *display: inline;
    vertical-align: middle;
}

.ccselect2-container,
.ccselect2-drop,
.ccselect2-search,
.ccselect2-search input {
  /*
    Force border-box so that % widths fit the parent
    container without overlap because of margin/padding.
    More Info : http://www.quirksmode.org/css/box.html
  */
  -webkit-box-sizing: border-box; /* webkit */
     -moz-box-sizing: border-box; /* firefox */
          box-sizing: border-box; /* css3 */
}

.ccselect2-container .ccselect2-choice {
    display: block;
    height: 26px;
    padding: 0 0 0 8px;
    overflow: hidden;
    position: relative;
    border: 1px solid #aaa !important;
    white-space: nowrap;
    line-height: 26px;
    color: #444;
    text-decoration: none;

    border-radius: 4px;

    background-clip: padding-box;

    -webkit-touch-callout: none;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;

    background-color: #fff;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eee), color-stop(0.5, #fff));
    background-image: -webkit-linear-gradient(center bottom, #eee 0%, #fff 50%);
    background-image: -moz-linear-gradient(center bottom, #eee 0%, #fff 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#eeeeee', GradientType = 0);
    background-image: linear-gradient(to top, #eee 0%, #fff 50%);
}

html[dir="rtl"] .ccselect2-container .ccselect2-choice {
    padding: 0 8px 0 0;
}

.ccselect2-container.ccselect2-drop-above .ccselect2-choice {
    border-bottom-color: #aaa;

    border-radius: 0 0 4px 4px;

    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eee), color-stop(0.9, #fff));
    background-image: -webkit-linear-gradient(center bottom, #eee 0%, #fff 90%);
    background-image: -moz-linear-gradient(center bottom, #eee 0%, #fff 90%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0);
    background-image: linear-gradient(to bottom, #eee 0%, #fff 90%);
}

.ccselect2-container.ccselect2-allowclear .ccselect2-choice .ccselect2-chosen {
    margin-right: 42px;
}

.ccselect2-container .ccselect2-choice > .ccselect2-chosen {
    margin-right: 26px;
    display: block;
    overflow: hidden;

    white-space: nowrap;

    text-overflow: ellipsis;
    float: none;
    width: auto;
}

html[dir="rtl"] .ccselect2-container .ccselect2-choice > .ccselect2-chosen {
    margin-left: 26px;
    margin-right: 0;
}

.ccselect2-container .ccselect2-choice abbr {
    display: none;
    width: 12px;
    height: 12px;
    position: absolute;
    right: 24px;
    top: 8px;

    font-size: 1px;
    text-decoration: none;

    border: 0;
    background: url('ccselect2.png') right top no-repeat;
    cursor: pointer;
    outline: 0;
}

.ccselect2-container.ccselect2-allowclear .ccselect2-choice abbr {
    display: inline-block;
}

.ccselect2-container .ccselect2-choice abbr:hover {
    background-position: right -11px;
    cursor: pointer;
}

.ccselect2-drop-mask {
    border: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    left: 0;
    top: 0;
    min-height: 100%;
    min-width: 100%;
    height: auto;
    width: auto;
    opacity: 0;
    z-index: 9998;
    /* styles required for IE to work */
    background-color: #fff;
    filter: alpha(opacity=0);
}

.ccselect2-drop {
    width: 100%;
    margin-top: -1px;
    position: absolute;
    z-index: 999991;
    top: 100%;

    background: #fff;
    color: #000;
    border: 1px solid #aaa;
    border-top: 0;

    border-radius: 0 0 4px 4px;

    -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
            box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
}

.ccselect2-drop.ccselect2-drop-above {
    margin-top: 1px;
    border-top: 1px solid #aaa;
    border-bottom: 0;

    border-radius: 4px 4px 0 0;

    -webkit-box-shadow: 0 -4px 5px rgba(0, 0, 0, .15);
            box-shadow: 0 -4px 5px rgba(0, 0, 0, .15);
}

.ccselect2-drop-active {
    border: 1px solid #5b9dd9;
    border-top: none;
    z-index: 999991;
}

.ccselect2-drop.ccselect2-drop-above.ccselect2-drop-active {
    border-top: 1px solid #5b9dd9;
}

.ccselect2-drop-auto-width {
    border-top: 1px solid #aaa;
    width: auto;
}

.ccselect2-drop-auto-width .ccselect2-search {
    padding-top: 4px;
}

.ccselect2-container .ccselect2-choice .ccselect2-arrow {
    display: inline-block;
    width: 18px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;

    border-left: 1px solid #aaa;
    border-radius: 0 4px 4px 0;

    background-clip: padding-box;

    background: #ccc;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ccc), color-stop(0.6, #eee));
    background-image: -webkit-linear-gradient(center bottom, #ccc 0%, #eee 60%);
    background-image: -moz-linear-gradient(center bottom, #ccc 0%, #eee 60%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#eeeeee', endColorstr = '#cccccc', GradientType = 0);
    background-image: linear-gradient(to top, #ccc 0%, #eee 60%);
}

html[dir="rtl"] .ccselect2-container .ccselect2-choice .ccselect2-arrow {
    left: 0;
    right: auto;

    border-left: none;
    border-right: 1px solid #aaa;
    border-radius: 4px 0 0 4px;
}

.ccselect2-container .ccselect2-choice .ccselect2-arrow b {
    display: block;
    width: 100%;
    height: 100%;
    background: url('ccselect2.png') no-repeat 0 1px;
}

html[dir="rtl"] .ccselect2-container .ccselect2-choice .ccselect2-arrow b {
    background-position: 2px 1px;
}

.ccselect2-search {
    display: inline-block;
    width: 100%;
    min-height: 26px;
    margin: 0;
    padding-left: 4px;
    padding-right: 4px;

    position: relative;
    z-index: 10000;

    white-space: nowrap;
}

.ccselect2-search input {
    width: 100%;
    height: auto !important;
    min-height: 26px;
    padding: 4px 20px 4px 5px;
    margin: 0;

    outline: 0;
    font-family: sans-serif;
    font-size: 1em;

    border: 1px solid #aaa;
    border-radius: 0;

    -webkit-box-shadow: none;
            box-shadow: none;

    background: #fff url('ccselect2.png') no-repeat 100% -22px;
    background: url('ccselect2.png') no-repeat 100% -22px, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, #fff), color-stop(0.99, #eee));
    background: url('ccselect2.png') no-repeat 100% -22px, -webkit-linear-gradient(center bottom, #fff 85%, #eee 99%);
    background: url('ccselect2.png') no-repeat 100% -22px, -moz-linear-gradient(center bottom, #fff 85%, #eee 99%);
    background: url('ccselect2.png') no-repeat 100% -22px, linear-gradient(to bottom, #fff 85%, #eee 99%) 0 0;
}

html[dir="rtl"] .ccselect2-search input {
    padding: 4px 5px 4px 20px;

    background: #fff url('ccselect2.png') no-repeat -37px -22px;
    background: url('ccselect2.png') no-repeat -37px -22px, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, #fff), color-stop(0.99, #eee));
    background: url('ccselect2.png') no-repeat -37px -22px, -webkit-linear-gradient(center bottom, #fff 85%, #eee 99%);
    background: url('ccselect2.png') no-repeat -37px -22px, -moz-linear-gradient(center bottom, #fff 85%, #eee 99%);
    background: url('ccselect2.png') no-repeat -37px -22px, linear-gradient(to bottom, #fff 85%, #eee 99%) 0 0;
}

.ccselect2-drop.ccselect2-drop-above .ccselect2-search input {
    margin-top: 4px;
}

.ccselect2-search input.ccselect2-active {
    background: #fff url('ccselect2-spinner.gif') no-repeat 100%;
    background: url('ccselect2-spinner.gif') no-repeat 100%, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, #fff), color-stop(0.99, #eee));
    background: url('ccselect2-spinner.gif') no-repeat 100%, -webkit-linear-gradient(center bottom, #fff 85%, #eee 99%);
    background: url('ccselect2-spinner.gif') no-repeat 100%, -moz-linear-gradient(center bottom, #fff 85%, #eee 99%);
    background: url('ccselect2-spinner.gif') no-repeat 100%, linear-gradient(to bottom, #fff 85%, #eee 99%) 0 0;
}

.ccselect2-container-active .ccselect2-choice,
.ccselect2-container-active .ccselect2-choices {
    border: 1px solid #5b9dd9;
    outline: none;

    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .3);
            box-shadow: 0 0 5px rgba(0, 0, 0, .3);
}

.ccselect2-dropdown-open .ccselect2-choice {
    border-bottom-color: transparent;
    -webkit-box-shadow: 0 1px 0 #fff inset;
            box-shadow: 0 1px 0 #fff inset;

    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    background-color: #eee;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #fff), color-stop(0.5, #eee));
    background-image: -webkit-linear-gradient(center bottom, #fff 0%, #eee 50%);
    background-image: -moz-linear-gradient(center bottom, #fff 0%, #eee 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#ffffff', GradientType=0);
    background-image: linear-gradient(to top, #fff 0%, #eee 50%);
}

.ccselect2-dropdown-open.ccselect2-drop-above .ccselect2-choice,
.ccselect2-dropdown-open.ccselect2-drop-above .ccselect2-choices {
    border: 1px solid #5b9dd9;
    border-top-color: transparent;

    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(0.5, #eee));
    background-image: -webkit-linear-gradient(center top, #fff 0%, #eee 50%);
    background-image: -moz-linear-gradient(center top, #fff 0%, #eee 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#ffffff', GradientType=0);
    background-image: linear-gradient(to bottom, #fff 0%, #eee 50%);
}

.ccselect2-dropdown-open .ccselect2-choice .ccselect2-arrow {
    background: transparent;
    border-left: none;
    filter: none;
}
html[dir="rtl"] .ccselect2-dropdown-open .ccselect2-choice .ccselect2-arrow {
    border-right: none;
}

.ccselect2-dropdown-open .ccselect2-choice .ccselect2-arrow b {
    background-position: -18px 1px;
}

html[dir="rtl"] .ccselect2-dropdown-open .ccselect2-choice .ccselect2-arrow b {
    background-position: -16px 1px;
}

.ccselect2-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/* results */
.ccselect2-results {
    max-height: 200px;
    padding: 0 0 0 4px;
    margin: 4px 4px 4px 0;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html[dir="rtl"] .ccselect2-results {
    padding: 0 4px 0 0;
    margin: 4px 0 4px 4px;
}

.ccselect2-results ul.ccselect2-result-sub {
    margin: 0;
    padding-left: 0;
}

.ccselect2-results li {
    list-style: none;
    display: list-item;
    background-image: none;
}

.ccselect2-results li.ccselect2-result-with-children > .ccselect2-result-label {
    font-weight: bold;
}

.ccselect2-results .ccselect2-result-label {
    padding: 3px 7px 4px;
    margin: 0;
    cursor: pointer;

    min-height: 1em;

    -webkit-touch-callout: none;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}

.ccselect2-results-dept-1 .ccselect2-result-label { padding-left: 20px }
.ccselect2-results-dept-2 .ccselect2-result-label { padding-left: 40px }
.ccselect2-results-dept-3 .ccselect2-result-label { padding-left: 60px }
.ccselect2-results-dept-4 .ccselect2-result-label { padding-left: 80px }
.ccselect2-results-dept-5 .ccselect2-result-label { padding-left: 100px }
.ccselect2-results-dept-6 .ccselect2-result-label { padding-left: 110px }
.ccselect2-results-dept-7 .ccselect2-result-label { padding-left: 120px }

.ccselect2-results .ccselect2-highlighted {
    background: #5b9dd9;
    color: #fff;
}

.ccselect2-results li em {
    background: #feffde;
    font-style: normal;
}

.ccselect2-results .ccselect2-highlighted em {
    background: transparent;
}

.ccselect2-results .ccselect2-highlighted ul {
    background: #fff;
    color: #000;
}

.ccselect2-results .ccselect2-no-results,
.ccselect2-results .ccselect2-searching,
.ccselect2-results .ccselect2-ajax-error,
.ccselect2-results .ccselect2-selection-limit {
    background: #f4f4f4;
    display: list-item;
    padding-left: 5px;
}

/*
disabled look for disabled choices in the results dropdown
*/
.ccselect2-results .ccselect2-disabled.ccselect2-highlighted {
    color: #666;
    background: #f4f4f4;
    display: list-item;
    cursor: default;
}
.ccselect2-results .ccselect2-disabled {
  background: #f4f4f4;
  display: list-item;
  cursor: default;
}

.ccselect2-results .ccselect2-selected {
    display: none;
}

.ccselect2-more-results.ccselect2-active {
    background: #f4f4f4 url('ccselect2-spinner.gif') no-repeat 100%;
}

.ccselect2-results .ccselect2-ajax-error {
    background: rgba(255, 50, 50, .2);
}

.ccselect2-more-results {
    background: #f4f4f4;
    display: list-item;
}

/* disabled styles */

.ccselect2-container.ccselect2-container-disabled .ccselect2-choice {
    background-color: #f4f4f4;
    background-image: none;
    border: 1px solid #ddd;
    cursor: default;
}

.ccselect2-container.ccselect2-container-disabled .ccselect2-choice .ccselect2-arrow {
    background-color: #f4f4f4;
    background-image: none;
    border-left: 0;
}

.ccselect2-container.ccselect2-container-disabled .ccselect2-choice abbr {
    display: none;
}


/* multiselect */

.ccselect2-container-multi .ccselect2-choices {
    height: auto !important;
    height: 1%;
    margin: 0;
    padding: 0 5px 0 0;
    position: relative;

    border: 1px solid #ddd;
    cursor: text;
    overflow: hidden;

    background-color: #fff;
}

html[dir="rtl"] .ccselect2-container-multi .ccselect2-choices {
    padding: 0 0 0 5px;
}

.ccselect2-locked {
  padding: 3px 5px 3px 5px !important;
}

.ccselect2-container-multi .ccselect2-choices {
    min-height: 26px;
}

.ccselect2-container-multi.ccselect2-container-active .ccselect2-choices {
    border: 1px solid #5b9dd9;
    outline: none;

    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .3);
            box-shadow: 0 0 5px rgba(0, 0, 0, .3);
}
.ccselect2-container-multi .ccselect2-choices li {
    float: left;
    list-style: none;
}
html[dir="rtl"] .ccselect2-container-multi .ccselect2-choices li
{
    float: right;
}
.ccselect2-container-multi .ccselect2-choices .ccselect2-search-field {
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

.ccselect2-container-multi .ccselect2-choices .ccselect2-search-field input {
    padding: 5px;
    margin: 1px 0;

    font-family: sans-serif;
    font-size: 100%;
    color: #666;
    outline: 0;
    border: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    background: transparent !important;
}

.ccselect2-container-multi .ccselect2-choices .ccselect2-search-field input.ccselect2-active {
    background: #fff url('ccselect2-spinner.gif') no-repeat 100% !important;
}

.ccselect2-default {
    color: #999 !important;
}

.ccselect2-container-multi .ccselect2-choices .ccselect2-search-choice {
    padding: 3px 5px 3px 18px;
    margin: 3px 0 3px 5px;
    position: relative;

    line-height: 13px;
    color: #333;
    cursor: default;
    border: 1px solid #bababa;

    border-radius: 3px;

    background-clip: padding-box;

    -webkit-touch-callout: none;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;

    background-color: #ededed;

}
html[dir="rtl"] .ccselect2-container-multi .ccselect2-choices .ccselect2-search-choice
{
    margin: 3px 5px 3px 0;
    padding: 3px 18px 3px 5px;
}
.ccselect2-container-multi .ccselect2-choices .ccselect2-search-choice .ccselect2-chosen {
    cursor: default;
}
.ccselect2-container-multi .ccselect2-choices .ccselect2-search-choice-focus {
    background: #5b9dd9;
    color: #fff;
    border-color: #4b8dc9;
}

.ccselect2-search-choice-close {
    display: block;
    width: 12px;
    height: 13px;
    position: absolute;
    right: 3px;
    top: 4px;

    font-size: 1px;
    outline: none;
}
html[dir="rtl"] .ccselect2-search-choice-close {
    right: auto;
    left: 3px;
}

.ccselect2-container-multi .ccselect2-search-choice-close {
    left: 3px;
    font-size: 6px;
    color: #333;
}

.ccselect2-container-multi .ccselect2-choices .ccselect2-search-choice-focus .ccselect2-search-choice-close{
    color: #fff;
}

html[dir="rtl"] .ccselect2-container-multi .ccselect2-search-choice-close {
    left: auto;
    right: 2px;
}

.ccselect2-container-multi .ccselect2-choices .ccselect2-search-choice .ccselect2-search-choice-close:hover {
  background-position: right -11px;
}
.ccselect2-container-multi .ccselect2-choices .ccselect2-search-choice-focus .ccselect2-search-choice-close {
    background-position: right -11px;
}

/* disabled styles */
.ccselect2-container-multi.ccselect2-container-disabled .ccselect2-choices {
    background-color: #f4f4f4;
    background-image: none;
    border: 1px solid #ddd;
    cursor: default;
}

.ccselect2-container-multi.ccselect2-container-disabled .ccselect2-choices .ccselect2-search-choice {
    padding: 3px 5px 3px 5px;
    border: 1px solid #ddd;
    background-image: none;
    background-color: #f4f4f4;
}

.ccselect2-container-multi.ccselect2-container-disabled .ccselect2-choices .ccselect2-search-choice .ccselect2-search-choice-close {    display: none;
    background: none;
}
/* end multiselect */


.ccselect2-result-selectable .ccselect2-match,
.ccselect2-result-unselectable .ccselect2-match {
    text-decoration: underline;
}

.ccselect2-offscreen, .ccselect2-offscreen:focus {
    clip: rect(0 0 0 0) !important;
    width: 1px !important;
    height: 1px !important;
    border: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
    position: absolute !important;
    outline: 0 !important;
    left: 0px !important;
    top: 0px !important;
}

.ccselect2-display-none {
    display: none;
}

.ccselect2-measure-scrollbar {
    position: absolute;
    top: -10000px;
    left: -10000px;
    width: 100px;
    height: 100px;
    overflow: scroll;
}

/* Retina-ize icons */

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 2dppx)  {
    .ccselect2-search input,
    .ccselect2-search-choice-close,
    .ccselect2-container .ccselect2-choice abbr,
    .ccselect2-container .ccselect2-choice .ccselect2-arrow b {
        background-image: url('ccselect2x2.png') !important;
        background-repeat: no-repeat !important;
        background-size: 60px 40px !important;
    }

    .ccselect2-search input {
        background-position: 100% -21px !important;
    }
}

.caldera-grid .ccselect2-container.form-control:hover,
.caldera-grid .ccselect2-container.form-control {
  border: 0 none;
  height: auto;
  padding: 0;
}