.r .col-xs-12:last-child, .cf-doc-search-results-outer > div > div:nth-child(2n+1) {
  clear: both
}

#cf-doc-search-app {
  max-width: 100%;

  .spin-loader {
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
    max-width: 100px;
  }

  @-moz-keyframes spin {
    100% {
      -moz-transform: rotate(360deg)
    }
  }

  @-webkit-keyframes spin {
    100% {
      -webkit-transform: rotate(360deg)
    }
  }

  @keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg)
    }
  }

  img.catdera-logo.spin-loader {
    margin: 40%
  }

  .cf-doc-search-sidebar-toggle {
    background: rgba(255, 255, 255, .9);
    font-size: 16px;
    padding: 12px 15px;
    text-align: left
  }

  .cf-doc-search-sidebar-toggle span.description {
    margin-left: 4px
  }

  .cf-doc-search-nav {
    margin-top: 70px
  }

  .cf-doc-main-row {
    margin-right: 0;
    margin-left: 0;
    padding-left: 0
  }

  .cf-doc-filter-col {
    overflow-y: scroll;
    overflow-x: hidden
  }

  .cf-doc-main-row .form-group {
    margin: 0
  }

  .cf-doc-main-row form[role=search] > .form-group {
    margin: 0 0 30px
  }

  .cf-doc-main-row .form-group > h3 {
    letter-spacing: 0;
    margin: 0 0 10px;
    text-transform: none
  }

  .cf-doc-main-row .form-group .checkbox {
    font-size: 16px;
    margin: 0 0 10px;
    padding-left: 35px;
    position: relative
  }

  .cf-doc-main-row .form-group input[type=checkbox] {
    border: 1px solid #ddd;
    cursor: pointer;
    height: 20px;
    left: 0;
    margin: 0;
    opacity: 1;
    position: absolute;
    top: 3px;
    width: 20px;
    z-index: 1;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
  }

  .cf-doc-main-row .form-group input[type=checkbox]:checked {
    background: #a3bf61;
    border-color: rgba(34, 34, 34, .1)
  }

  .cf-doc-main-row .col-md-12 {
    padding: 20px
  }

  .cf-doc-filter-col .nav-tabs {
    margin-bottom: 15px
  }

  .cf-doc-filter-col .nav-tabs > li > a {
    font-size: 14px;
    margin-right: 0
  }

  .cf-doc-search-results-outer > div > div {
    padding: 0 0 20px
  }

  .cf-doc-search-results-outer .col-xs-12 img {
    margin-bottom: 30px
  }

  .cf-doc-search-results-outer article {
    border: 1px solid #ddd;
    padding: 30px
  }

  .cf-doc-search-results-outer .container {
    max-width: 100%;
    width: 100%
  }

  .cf-doc-search-results-outer article .entry-title {
    letter-spacing: 0;
    margin-bottom: 20px
  }

  .cf-doc-search-results-outer article .btn {
    float: left;
    display: block;
    margin-top: 20px;
    width: auto
  }

  .cf-doc-search-results-outer article p:last-child {
    margin-bottom: 0
  }

  .cf-doc-search-results-outer .pager {
    clear: both;
    padding: 20px
  }

  @media screen and (min-width: 768px) {
    .cf-doc-search-results-outer .col-xs-12 img {
      margin-bottom: 0
    }
  }

  @media screen and (min-width: 1280px) {
    .col-md-12 .cf-doc-search-results-outer > div > div {
      float: left;
      padding: 0 10px 20px;
      width: 50%
    }
  }


}
