.caldera-grid {

  .form-control {
    &.cf2-file {
      border: none;
      padding: 0px;
    }
  }

  .cf2-file-listed {
    display: grid;
    grid-gap: 10px;
    list-style-type: none;
    grid-template-columns: auto auto auto;
    justify-content: start;
    align-items: center;
    margin: 10px 0 0;
    border-bottom: medium solid #ececec;
    padding: 0 5px 10px;

    button.cf2-file-remove {
      background-color: transparent;
      border: none;
      padding: 0;

      &:after {
        content: " \2716";
        color: #000;
        cursor: pointer;
      }
    }
  }

}