.caldera-grid {

  .form-control {
    &.cf2-file {
      border: none;
      padding: 0px;

      .btn {
        color: #fff;
        background-color: #333;
        border: thin solid #333;
        transition: all 0.4s;

        &:hover {
          color: #333;
          background-color: #fff;
        }
      }
    }
  }

  ul.cf2-list-files {

    .cf2-file-listed {

      .cf2-file-control {
        display: inline-block;
        width: 100%;
        vertical-align: top;

        .cf2-file-field-img-preview {
          margin-bottom: 5px;
        }

        button.cf2-file-remove {
          background-color: transparent;
          border: none;
          padding: 0;
          vertical-align: top;

          &:after {
            content: " \2716";
            font-size: 90%;
            color: #333;
            text-decoration: underline;
            cursor: pointer;
            margin-right: 10px;

          }
          &:hover {
            &:after {
              text-decoration: none;
            }
          }
        }
      }

      progress.cf2-file-progress-bar {
        position: relative;
        width: 100%;
        height: 2px;
        vertical-align: top;
      }

      .cf2-file-extra-data {
        margin-top: -40px;

      }

    }
  }

}