.image-thumb {
  margin-left: 63px;  
  padding: 6px 0 6px 6px;
}
.image-picker-content.image-thumb-lrg {
  margin-bottom: 6px;
}

.image-picker-side-bar {
  float: left;
  margin-left: -68px;
  width: 62px;
}
.image-thumb-lrg .image-picker-side-bar {
  background: none repeat scroll 0 0 #F6F6F6;
  border: 1px solid #DFDFDF;
  float: none;
  margin: 0 0 6px;
  padding: 6px 6px 2px;
  text-align: center;
  width: auto;
}
.image-picker-side-bar > img {
  border: 1px solid #DFDFDF;
  width: 62px;
}
.image-thumb-lrg .image-picker-side-bar > img {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 100%;
  text-align: center;
  width: auto;
}
.image-thumb .image-picker-main-content {
  margin-right: 6px;
}
.button.image-picker-button {
  margin: 7px 0 0;
  width: 110px;
  display: inline-block;
}
.caldera-config-field .button.image-picker-button {
	
}
.button.button-primary.image-picker-button {
  float: right;
  margin-left: 6px;
  width: 80px;
}
.image-picker-main-content select {
  width: 100%;
}
.image-picker-sizer:disabled {
  opacity: .7;
  box-shadow: none;
  color: #A1A1A1;
}
.button.image-picker-button.image-picker-button-solo,
.button-primary.image-picker-button.image-picker-button-solo{
	width: 170px;
	margin-top: 0;	
}
.button-primary.image-picker-button.image-picker-button-solo{
	margin-top: 7px;
	margin-left: 0;
	float: none;
}
.image-thumb-lrg .button.image-picker-button.cu-image-picker.image-picker-button-solo {
  width: 120px;
}
.image-thumb-lrg .button.button-primary.image-picker-button.cu-image-remover.image-picker-button-solo {
  float: right;
  margin: 0 0 0 6px;
  width: auto;
}
.image-thumb-lrg .button.button-primary.image-picker-button.cu-image-remover {
  width: 45%;
}
.image-picker-side-bar {
  max-width: 100%;
}
input.cu-image-picker-file-select[type="file"] {
  display: none;
}