.caldera-grid fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  min-width: 0;
}
.caldera-grid legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: inherit;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}
.caldera-grid label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: bold;
}
.caldera-grid input[type="search"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.caldera-grid input[type="radio"],
.caldera-grid input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  /* IE8-9 */
  line-height: normal;
}
.caldera-grid input[type="file"] {
  display: block;
}
.caldera-grid input[type="range"] {
  display: block;
  width: 100%;
}
.caldera-grid select[multiple],
.caldera-grid select[size] {
  height: auto;
}
.caldera-grid input[type="file"]:focus,
.caldera-grid input[type="radio"]:focus,
.caldera-grid input[type="checkbox"]:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.caldera-grid output {
  display: block;
  padding-top: 7px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
}
.caldera-grid .form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.caldera-grid .form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.caldera-grid .form-control::-moz-placeholder {
  color: #999999;
  opacity: 1;
}
.caldera-grid .form-control:-ms-input-placeholder {
  color: #999999;
}
.caldera-grid .form-control::-webkit-input-placeholder {
  color: #999999;
}
.caldera-grid .form-control[disabled],
.caldera-grid .form-control[readonly],
.caldera-grid fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: #eeeeee;
  opacity: 1;
}
.caldera-grid textarea.form-control {
  height: auto;
}
.caldera-grid input[type="search"] {
  -webkit-appearance: none;
}
.caldera-grid input[type="date"] {
  line-height: 34px;
}
.caldera-grid .form-group {
  margin-bottom: 15px;
}
.caldera-grid .radio,
.caldera-grid .checkbox {
  display: block;
  min-height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 20px;
}
.caldera-grid .radio label,
.caldera-grid .checkbox label {
  display: inline;
  font-weight: normal;
  cursor: pointer;
}
.caldera-grid .radio input[type="radio"],
.caldera-grid .radio-inline input[type="radio"],
.caldera-grid .checkbox input[type="checkbox"],
.caldera-grid .checkbox-inline input[type="checkbox"] {
  float: left;
  margin-left: -20px;
}
.caldera-grid .radio + .radio,
.caldera-grid .checkbox + .checkbox {
  margin-top: -5px;
}
.caldera-grid .radio-inline,
.caldera-grid .checkbox-inline {
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  vertical-align: middle;
  font-weight: normal;
  cursor: pointer;
}
.caldera-grid .radio-inline + .radio-inline,
.caldera-grid .checkbox-inline + .checkbox-inline {
  margin-top: 0;
  margin-left: 10px;
}
.caldera-grid input[type="radio"][disabled],
.caldera-grid input[type="checkbox"][disabled],
.caldera-grid .radio[disabled],
.caldera-grid .radio-inline[disabled],
.caldera-grid .checkbox[disabled],
.caldera-grid .checkbox-inline[disabled],
.caldera-grid fieldset[disabled] input[type="radio"],
.caldera-grid fieldset[disabled] input[type="checkbox"],
.caldera-grid fieldset[disabled] .radio,
.caldera-grid fieldset[disabled] .radio-inline,
.caldera-grid fieldset[disabled] .checkbox,
.caldera-grid fieldset[disabled] .checkbox-inline {
  cursor: not-allowed;
}
.caldera-grid .input-sm {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.caldera-grid select.input-sm {
  height: 30px;
  line-height: 30px;
}
.caldera-grid textarea.input-sm,
.caldera-grid select[multiple].input-sm {
  height: auto;
}
.caldera-grid .input-lg {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}
.caldera-grid select.input-lg {
  height: 46px;
  line-height: 46px;
}
.caldera-grid textarea.input-lg,
.caldera-grid select[multiple].input-lg {
  height: auto;
}
.caldera-grid .has-feedback {
  position: relative;
}
.caldera-grid .has-feedback .form-control {
  padding-right: 42.5px;
}
.caldera-grid .has-feedback .form-control-feedback {
  position: absolute;
  top: 25px;
  right: 0;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
}
.caldera-grid .has-success .help-block,
.caldera-grid .has-success .control-label,
.caldera-grid .has-success .radio,
.caldera-grid .has-success .checkbox,
.caldera-grid .has-success .radio-inline,
.caldera-grid .has-success .checkbox-inline {
  color: #3c763d;
}
.caldera-grid .has-success .form-control {
  border-color: #3c763d;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.caldera-grid .has-success .form-control:focus {
  border-color: #2b542c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
}
.caldera-grid .has-success .input-group-addon {
  color: #3c763d;
  border-color: #3c763d;
  background-color: #dff0d8;
}
.caldera-grid .has-success .form-control-feedback {
  color: #3c763d;
}
.caldera-grid .has-warning .help-block,
.caldera-grid .has-warning .control-label,
.caldera-grid .has-warning .radio,
.caldera-grid .has-warning .checkbox,
.caldera-grid .has-warning .radio-inline,
.caldera-grid .has-warning .checkbox-inline {
  color: #8a6d3b;
}
.caldera-grid .has-warning .form-control {
  border-color: #8a6d3b;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.caldera-grid .has-warning .form-control:focus {
  border-color: #66512c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
}
.caldera-grid .has-warning .input-group-addon {
  color: #8a6d3b;
  border-color: #8a6d3b;
  background-color: #fcf8e3;
}
.caldera-grid .has-warning .form-control-feedback {
  color: #8a6d3b;
}
.caldera-grid .has-error .help-block,
.caldera-grid .has-error .control-label,
.caldera-grid .has-error .radio,
.caldera-grid .has-error .checkbox,
.caldera-grid .has-error .radio-inline,
.caldera-grid .has-error .checkbox-inline {
  color: #a94442;
}
.caldera-grid .has-error .form-control {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.caldera-grid .has-error .form-control:focus {
  border-color: #843534;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}
.caldera-grid .has-error .input-group-addon {
  color: #a94442;
  border-color: #a94442;
  background-color: #f2dede;
}
.caldera-grid .has-error .form-control-feedback {
  color: #a94442;
}
.caldera-grid .form-control-static {
  margin-bottom: 0;
}
.caldera-grid .help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #737373;
}
@media (min-width: 768px) {
  .caldera-grid .form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .caldera-grid .form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
  .caldera-grid .form-inline .input-group > .form-control {
    width: 100%;
  }
  .caldera-grid .form-inline .control-label {
    margin-bottom: 0;
    vertical-align: middle;
  }
  .caldera-grid .form-inline .radio,
  .caldera-grid .form-inline .checkbox {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    vertical-align: middle;
  }
  .caldera-grid .form-inline .radio input[type="radio"],
  .caldera-grid .form-inline .checkbox input[type="checkbox"] {
    float: none;
    margin-left: 0;
  }
  .caldera-grid .form-inline .has-feedback .form-control-feedback {
    top: 0;
  }
}
.caldera-grid .form-horizontal .control-label,
.caldera-grid .form-horizontal .radio,
.caldera-grid .form-horizontal .checkbox,
.caldera-grid .form-horizontal .radio-inline,
.caldera-grid .form-horizontal .checkbox-inline {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 7px;
}
.caldera-grid .form-horizontal .radio,
.caldera-grid .form-horizontal .checkbox {
  min-height: 27px;
}
.caldera-grid .form-horizontal .form-group {
  margin-left: -15px;
  margin-right: -15px;
}
.caldera-grid .form-horizontal .form-control-static {
  padding-top: 7px;
}
@media (min-width: 768px) {
  .caldera-grid .form-horizontal .control-label {
    text-align: right;
  }
}
.caldera-grid .form-horizontal .has-feedback .form-control-feedback {
  top: 0;
  right: 15px;
}
.caldera-grid .clearfix:before,
.caldera-grid .clearfix:after,
.caldera-grid .form-horizontal .form-group:before,
.caldera-grid .form-horizontal .form-group:after {
  content: " ";
  display: table;
}
.caldera-grid .clearfix:after,
.caldera-grid .form-horizontal .form-group:after {
  clear: both;
}
.caldera-grid .center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.caldera-grid .pull-right {
  float: right !important;
}
.caldera-grid .pull-left {
  float: left !important;
}
.caldera-grid .hide {
  display: none !important;
}
.caldera-grid .show {
  display: block !important;
}
.caldera-grid .invisible {
  visibility: hidden;
}
.caldera-grid .text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.caldera-grid .hidden {
  display: none !important;
  visibility: hidden !important;
}
.caldera-grid .affix {
  position: fixed;
}
@-ms-viewport {
  width: device-width;
}
.caldera-grid .visible-xs,
.caldera-grid .visible-sm,
.caldera-grid .visible-md,
.caldera-grid .visible-lg {
  display: none !important;
}
@media (max-width: 767px) {
  .caldera-grid .visible-xs {
    display: block !important;
  }
  .caldera-grid table.visible-xs {
    display: table;
  }
  .caldera-grid tr.visible-xs {
    display: table-row !important;
  }
  .caldera-grid th.visible-xs,
  .caldera-grid td.visible-xs {
    display: table-cell !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .caldera-grid .visible-sm {
    display: block !important;
  }
  .caldera-grid table.visible-sm {
    display: table;
  }
  .caldera-grid tr.visible-sm {
    display: table-row !important;
  }
  .caldera-grid th.visible-sm,
  .caldera-grid td.visible-sm {
    display: table-cell !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .caldera-grid .visible-md {
    display: block !important;
  }
  .caldera-grid table.visible-md {
    display: table;
  }
  .caldera-grid tr.visible-md {
    display: table-row !important;
  }
  .caldera-grid th.visible-md,
  .caldera-grid td.visible-md {
    display: table-cell !important;
  }
}
@media (min-width: 1200px) {
  .caldera-grid .visible-lg {
    display: block !important;
  }
  .caldera-grid table.visible-lg {
    display: table;
  }
  .caldera-grid tr.visible-lg {
    display: table-row !important;
  }
  .caldera-grid th.visible-lg,
  .caldera-grid td.visible-lg {
    display: table-cell !important;
  }
}
@media (max-width: 767px) {
  .caldera-grid .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .caldera-grid .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .caldera-grid .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .caldera-grid .hidden-lg {
    display: none !important;
  }
}
.caldera-grid .visible-print {
  display: none !important;
}
@media print {
  .caldera-grid .visible-print {
    display: block !important;
  }
  .caldera-grid table.visible-print {
    display: table;
  }
  .caldera-grid tr.visible-print {
    display: table-row !important;
  }
  .caldera-grid th.visible-print,
  .caldera-grid td.visible-print {
    display: table-cell !important;
  }
}
@media print {
  .caldera-grid .hidden-print {
    display: none !important;
  }
}
