.caldera-grid .alert {
  padding: 8px;
  margin-bottom: 18px;
  border-radius: 2px;
}
.caldera-grid .alert .alert-link {
  font-weight: bold;
}
.caldera-grid .alert-dismissable {
  padding-right: 28px;
}
.caldera-grid .alert-success {
  background-color: #dff0d8;
  border-color: #a3d48e;
  color: #3c763d;
}
.caldera-grid .alert-success hr {
  border-top-color: #93cd7c;
}
.caldera-grid .alert-success .alert-link {
  color: #2b542c;
}
.caldera-grid .alert-info {
  background-color: #d9edf7;
  border-color: #85c5e5;
  color: #31708f;
}
.caldera-grid .alert-info hr {
  border-top-color: #70bbe1;
}
.caldera-grid .alert-info .alert-link {
  color: #245269;
}
.caldera-grid .alert-warning {
  background-color: #f9edbe;
  border-color: #f0c36d;
  color: #333333;
}
.caldera-grid .alert-warning hr {
  border-top-color: #eeb956;
}
.caldera-grid .alert-warning .alert-link {
  color: #1a1a1a;
}
.caldera-grid .alert-error,
.caldera-grid .alert-danger {
  background-color: #f2dede;
  border-color: #d59595;
  color: #a94442;
}
.caldera-grid .alert-error hr,
.caldera-grid .alert-danger hr {
  border-top-color: #ce8383;
}
.caldera-grid .alert-error .alert-link,
.caldera-grid .alert-danger .alert-link {
  color: #843534;
}
.caldera-grid .alert-success,
.caldera-grid .alert-info,
.caldera-grid .alert-warning,
.caldera-grid .alert-error,
.caldera-grid .alert-danger {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.caldera-grid .has-error .help-block,
.caldera-grid .has-error .control-label,
.caldera-grid .has-error .radio,
.caldera-grid .has-error .checkbox,
.caldera-grid .has-error .radio-inline,
.caldera-grid .has-error .checkbox-inline {
  color: #dd4b39;
}
.caldera-grid .has-error .form-control {
  border-color: #dd4b39;
}
.caldera-grid .has-error .form-control:focus {
  border-color: #c23321;
}
.caldera-grid .has-error .input-group-addon {
  color: #dd4b39;
  border-color: #dd4b39;
  background-color: #f2dede;
}
.caldera-grid .has-error .form-control-feedback {
  color: #dd4b39;
}
.caldera-grid .has-error .form-control {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.caldera-grid .has-error .form-control:hover {
  border-color: #dd4b39;
}
.caldera-grid .has-error .form-control:focus {
  border-color: #dd4b39;
}
.caldera-grid.cf_processing {
    background: url("../images/loading.gif") no-repeat scroll center center / 30px auto rgba(0, 0, 0, 0);
}
.caldera-grid.cf_processing > * {
    opacity: 0.5;
}





