@font-face {
  font-family: 'cfont';
  src:  url('fonts/cfont.eot?dtntrf');
  src:  url('fonts/cfont.eot?dtntrf#iefix') format('embedded-opentype'),
  url('fonts/cfont.ttf?dtntrf') format('truetype'),
  url('fonts/cfont.woff?dtntrf') format('woff'),
  url('fonts/cfont.svg?dtntrf#cfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="cfont-"], [class*=" cfont-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'cfont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cfont-plus:before {
  content: "\f067";
}
.cfont-envelope-o:before {
  content: "\f003";
}
.cfont-star:before {
  content: "\f005";
}
.cfont-user:before {
  content: "\f007";
}
.cfont-cog:before {
  content: "\f013";
}
.cfont-gear:before {
  content: "\f013";
}
.cfont-lock:before {
  content: "\f023";
}
.cfont-align-justify:before {
  content: "\f039";
}
.cfont-list:before {
  content: "\f03a";
}
.cfont-eye:before {
  content: "\f06e";
}
.cfont-credit-card:before {
  content: "\f09d";
}
.cfont-chain:before {
  content: "\f0c1";
}
.cfont-link:before {
  content: "\f0c1";
}
.cfont-cloud-upload:before {
  content: "\f0ee";
}
.cfont-mobile:before {
  content: "\f10b";
}
.cfont-mobile-phone:before {
  content: "\f10b";
}
.cfont-folder-open-o:before {
  content: "\f115";
}
.cfont-slack:before {
  content: "\f198";
}
.cfont-envelope-square:before {
  content: "\f199";
}
.cfont-wordpress:before {
  content: "\f19a";
}
.cfont-ra:before {
  content: "\f1d0";
}
.cfont-rebel:before {
  content: "\f1d0";
}
.cfont-resistance:before {
  content: "\f1d0";
}
.cfont-calculator:before {
  content: "\f1ec";
}
.cfont-paypal:before {
  content: "\f1ed";
}
.cfont-cc-visa:before {
  content: "\f1f0";
}
.cfont-cc-mastercard:before {
  content: "\f1f1";
}
.cfont-cc-discover:before {
  content: "\f1f2";
}
.cfont-cc-amex:before {
  content: "\f1f3";
}
.cfont-cc-paypal:before {
  content: "\f1f4";
}
.cfont-cc-stripe:before {
  content: "\f1f5";
}
.cfont-paint-brush:before {
  content: "\f1fc";
}
.cfont-cart-plus:before {
  content: "\f217";
}
.cfont-volume-control-phone:before {
  content: "\f2a0";
}

