@font-face {
  font-family: 'caldera-forms';
  src:url('fonts/caldera-forms.eot?7moc5h');
  src:url('fonts/caldera-forms.eot?#iefix7moc5h') format('embedded-opentype'),
    url('fonts/caldera-forms.woff?7moc5h') format('woff'),
    url('fonts/caldera-forms.ttf?7moc5h') format('truetype'),
    url('fonts/caldera-forms.svg?7moc5h#caldera-forms') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="dashicons-cf-"], [class*="dashicons-cf-"], .mce-ico.mce-i-caldera-forms {
  font-family: 'caldera-forms';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: top;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.loading-placeholder > .dashicons-cf-logo:before{
  color: #a3be5f;
}
.wpview-error > .dashicons-cf-logo:before{
  color: #bf0000;
}
div.wp-menu-image.dashicons-cf-logo:before{
  font-family: 'caldera-forms' !important;
  font-size: 19px !important;
}
.mce-ico.mce-i-caldera-forms:before,
.dashicons-cf-logo:before {
  content: "\e604";
}

.caldera-editor-logo > span.dashicons-cf-logo{
  font-size: 20px;
  line-height: 15px;
  vertical-align: -2px;
  color: #a3be5f;
}

.current div.wp-menu-image.dashicons-cf-logo:before,
.wp-not-current-submenu:hover div.wp-menu-image.dashicons-cf-logo:before{
  color: inherit !important;
}

.caldera-forms-menu-dashicon .dashicons {
  width: 15px;
  height: 15px;
  font-size: 15px;
  margin-right: 4px;
}

