li.entry-detail {
    border-bottom: 1px solid #ddd;
    margin-bottom: 4px;
    padding-bottom: 8px;
}

.caldera-forms-entry-viewer .entry-detail .label {
    font-weight: 700;
    margin-bottom: 3px;
    margin-right: 8px;
    min-width: 130px;
    text-transform: capitalize;
}

.caldera-forms-entry-right {
    width: 80%;
    float: right;
    display: inline;
}

.caldera-forms-entry-left {
    display: inline;
    float: left;
    width: 20%;
}

#caldera-forms-entries-nav .caldera-field-config {
    display: inline;
    float: right;
}


[v-cloak] {
    display: none;
    visibility: hidden;
}