.cu-toggle-group-buttons .button {
  border-radius: 0;
  margin-right: -1px;
}
.cu-toggle-group-buttons .button-primary {
  margin-right: 0;
}
.cu-toggle-group-buttons .button:first-child {
  border-radius: 3px 0 0 3px;
}
.cu-toggle-group-buttons .button:last-child {
  border-radius: 0 3px 3px 0;
}
